<h3>Trip #<%= @trip.id %></h3>

<ul class = "trip">
  <li>
    <strong>Date:</strong> 
    <%= @trip.date.strftime("%m/%d/%Y") %>
  </li>
  <li>
    <strong>Cost:</strong> 
    <%= @trip.cost_to_currency %>
  </li>
  <li>
    <% if @trip.rating.nil? %>
    
      <%= form_with model: @trip, url: {:action => "complete_trip"},class: "rate-trip-form" do |f| %>

        <%= f.label "Rating:" %>
        <%= f.select(:rating, [1, 2, 3, 4, 5]) %>

        <%= f.submit "Rate Trip", class: "rate-trip-form-button", data: {confirm: "Are you sure you want to rate Trip ##{@trip.id}? This will complete the trip and set #{@trip.driver.name}'s status to available."} %>
      <% end %>
      
    <% else %>
      <strong>Rating:</strong> 
      <%= @trip.rating %>
    <% end %>
  </li>
  <li>
    <strong>Passenger Name:</strong> 
    <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %>
  </li>
  <li>
    <strong>Driver Name:</strong> 
    <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %>
  </li>
</ul>

<%= button_to "Edit Trip", edit_trip_path(@trip.id), method: :get, :class => "button" %>
<%= button_to "Delete Trip", trip_path(@trip.id), method: :delete, :class => "button", data: {confirm: "Are you sure you want to delete Trip ##{@trip.id}?"} %>
