<h3>Passenger Name: <%= @passenger.name %></h3>
<p><strong>Phone Number:</strong> <%= @passenger.phone_num %> </p>

<%= button_to "Edit Passenger", edit_passenger_path(@passenger.id), method: :get %>
<%= button_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this passenger: #{@passenger.name}?"} %>
<%= button_to "Create a New Trip", trips_path, method: :post %>


<% @trips = Trip.where(passenger_id: @passenger.id)%>
  <table style="width:70%">    
    <tr>
        <th>Trip ID</th>
        <th>Trip Date</th>
        <th>Passenger Name</th>
        <th>Driver Name</th>
        <th>Rating</th>
        <th>Cost</th>
    </tr>    
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.id %></td>
        <td><%= trip.date%></td>
        <td><%= link_to trip.passenger.name, passenger_path(@passenger.id) %></td> 
        <td><%= link_to trip.driver.name, driver_path(trip.driver.id)%></td> 
        <td><%= trip.rating %></td>
        <td><%= trip.cost %></td>
        
      </tr>
    <% end %>
  </table>

  
