<h3><strong>Driver Name: <%= @driver.name %></strong></h3>
<p><strong>Driver VIN:</strong> <%= @driver.vin.upcase %> </p>
<p><strong>Driver Availability:</strong> <%= @driver.available ? "Available" : "Unavailable" %> </p>
<p><strong>Total Earnings:</strong> <%= number_to_currency(@driver.get_total_earnings) %> </p>
<p><strong>Average Rating:</strong> <%= @driver.average_rating %> </p>
<%= @driver.available ? button_to("Make Unavailable", driver_available_path(@driver), method: :patch, :class => "button") : button_to("Make Available", driver_available_path(@driver), method: :patch, :class => "button")%> 
<%= button_to "Edit Driver", edit_driver_path(@driver.id), method: :get, :class => "button" %>
<%= button_to "Delete Driver", driver_path(@driver.id), method: :delete, :class => "button", data: {confirm: "Are you sure you want to delete this driver: #{@driver.name}?"} %>

<% @trips = Trip.where(driver_id: @driver.id)%>
<% if @trips.length > 0 %> 
  <table style="width:70%">  
  <h3><%= "#{@driver.name}\'s Trips"%></h3> 
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Passenger Name</th>
        <th>Driver Name</th>
        <th>Rating</th>
        <th>Cost</th>
    </tr>    
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= trip.date.to_date%></td>
        <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td> 
        <td><%= link_to trip.driver.name, driver_path(trip.driver.id)%></td> 
        <td><%= trip.rating %></td>
        <td><%= trip.cost_to_currency %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <h2><%= "#{@driver.name} does not have any trips in the system." %></h2>
<% end %>