<h3>Driver Name: <%= @driver.name %></h3>
<p><strong>Driver VIN:</strong> <%= @driver.vin.upcase %> </p>
<p><strong>Driver Availability:</strong> <%= @driver.available ? "Available" : "Unavailable" %> </p>

<%= @driver.available ? button_to("Make Unavailable", driver_available_path(@driver), method: :patch) : button_to("Make Available", driver_available_path(@driver), method: :patch)%> 
<%= button_to "Edit Driver", edit_driver_path(@driver.id), method: :get%>
<%= button_to "Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver: #{@driver.name}?"} %>

<% @trips = Trip.where(driver_id: @driver.id)%>
<% if @trips.length > 0 %> 
  <table style="width:70%">  
  <h2><%= "#{@driver.name}\'s Trips"%></h2> 
    <tr>
        <th>Trip ID</th>
        <th>Trip Date</th>
        <th>Passenger Name</th>
        <th>Driver Name</th>
        <th>Rating</th>
        <th>Cost</th>
    </tr>    
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= trip.date.to_date%></td>
        <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td> 
        <td><%= link_to trip.driver.name, driver_path(trip.driver.id)%></td> 
        <td><%= trip.rating %></td>
        <td><%= trip.cost.to_f %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <h2><%= "#{@driver.name} does not have any trips." %></h2>
<% end %>