<h3>Driver Name: <%= @driver.name %></h3>
<p><strong>Driver VIN:</strong> <%= @driver.vin.upcase %> </p>
<p><strong>Driver Availability:</strong> <%= @driver.available %> </p>

<%= @driver.available ? button_to("Make Unavailable", driver_available_path(@driver), method: :patch) : button_to("Make Available", driver_available_path(@driver), method: :patch)%> 
<%= button_to "Edit Driver", edit_driver_path(@driver.id), method: :get%>
<%= button_to "Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver: #{@driver.name}?"} %>