<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <%# <h1>Ride Share Rails</h1> %>
    <nav>
    <ul class = "nav">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">Drivers</a>
        <ul>
          <li><%= link_to "All Drivers", drivers_path %></li>
          <li><%= link_to "New Driver", new_driver_path %></li>
        </ul>
      </li>
      <li><a href="#">Passengers</a>
        <ul>
          <li><%= link_to "All Passengers", passengers_path %></li>
          <li><%= link_to "New Passenger", new_passenger_path %></li>
        </ul>
      </li>
    </ul>
    </nav>
  </header>

    <%= yield %>
  </body>
  <footer>
    <p>Copyright Ada C13 2020</p>
  </footer>
</html>
