<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h3>Ride Share</h3>
    <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "New Driver", new_driver_path %></li>
    </ul>
    </nav>
  </header>

    <%= yield %>
  </body>
  <footer>
    <p>Copyright Ada C13 2020</p>
  </footer>







  
</html>
